* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #111111;
}

nav img {
    margin: 36px 0 0 231px;
    width: 90.6px;
    height: 26.9px;
}

nav a {
    font-size: 16px;
    color: #111111;
    font-weight: 500;
    text-decoration: none;
    line-height: 19px;
}

.menu .links a:nth-child(2) {
    margin: 38px 0 0 122px;
}

.menu .links a:nth-child(3) {
    margin: 38px 0 0 30px;
}

.menu .links a:nth-child(4) {
    margin: 38px 0 0 30px;
}

.links a.active {
    font-weight: bold;
}

footer {
    background: #EEEEEE;
    height: 62px;
    width: 100%;
}

footer p {
    font-size: 14px;
    color: #999999;
    text-align: center;
    padding: 23px 0;
}


/* === INDEX === */

.folder {
    background: #FBDFDB;
    border-radius: 30px;
    width: 940px;
    height: 366px;
    margin: 36px 230px;
    display: flex;
}

.folder h1 {
    font-size: 32px;
    padding: 110px 0 0px 60px;
    max-width: 305px;
}

.folder p {
    opacity: 0.7;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    max-width: 316px;
    padding: 10px 0 117px 60px;
}

.folder img {
    width: 216px;
    height: 300px;
    margin: 66px 0 0 248px;
}

#index h1 {
    font-size: 24px;
    margin: 50px 0 0 230px;
    line-height: 28px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 230px;
    gap: 20px;
}

.card img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
}

.card p#title {
    font-size: 18px;
    line-height: 21px;
    color: #111111;
    padding: 20px 0 5px 0;
}

.card p {
    font-size: 14px;
    line-height: 16px;
    color: #777777;
    padding: 0 0 10px 0;
}


/* === ABOUT === */

#about {
    margin: 50px 0 0 230px;
}

#about h1 {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 20px;
}

#about h2 {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 20px;
}

#about p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    max-width: 940px;
    max-height: 280px;
    padding-bottom: 30px;
}

#recipes {
    margin-top: 56px;
}


/* === PAGE RECIPE === */

.main_recipe img {
    width: 940px;
    height: 280px;
    border-radius: 15px;
    margin: 56px 0 0 230px;
}

.main_recipe h1 {
    font-size: 36px;
    line-height: 42px;
    margin: 50px auto 4px;
    text-align: center;
}

.main_recipe #author {
    font-size: 20px;
    color: #777777;
    line-height: 24px;
    margin-bottom: 50px;
    text-align: center;
}

.recipe_content h2 {
    font-size: 24px;
    line-height: 28px;
    margin-left: 230px;
    margin-top: 39px;
}

.recipe_content ul {
    margin: 20px 0 0 250px;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    max-width: 940px;
    text-align: justify;
}

.recipe_content p {
    margin: 20px 0 50px 230px;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    max-width: 940px;
    text-align: justify;
    white-space: pre-wrap;
}


/* === TOGGLE === */

.toggle_content {
    display: flex;
    align-items: center;
    position: relative;
}

.toggle_content a {
    font-size: 12px;
    color: #999999;
    margin-left: 8px;
    margin-top: 47px;
    cursor: pointer;
}

.toggle {
    overflow: hidden;
    max-height: 500px;
    transition: max-height 1s ease-in-out;
}

.toggle.hide {
    max-height: 0;
    pointer-events: none;
}