<!DOCTYPE html>
<html>

    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/admin/style.css">
        {% block head %}
            <title>Foodfy</title>
            {% endblock%}
        </head>

        <body>
            <div class="menu">
                <nav>
                    <a href="/admin/recipes">
                        <img src="/assets/logo_white.png" alt="Foodfy">
                    </a>
                </nav>
            </div>

            {% block content %}{% endblock %}

            <script src="/scripts.js"></script>

        </body>

    </html>