{% extends 'layout.njk' %}

{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}

    <main id="recipes">
        <section class="cards">

            {% for item in items %}
                <div class="card" id="burger">
                    <img src="{{item.image_url}}" alt="{{item.title}}">
                    <p id="title">{{item.title}}</p>
                    <p id="chef">por
                        {{item.author}}</p>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}