{% extends 'layoutAdmin.njk' %}

{% block head %}
    <title>Criar Receita - Admin Foodfy</title>
{% endblock %}

{% block content %}
    <form action="/admin/recipes" method="POST">
        <div class="head">
            <h2>Criando receita</h2>
            <button type="submit">Salvar receita</button>
        </div>
        <div class="content">
            {% include 'admin/recipes/field.njk'%}
        </div>
    </form>
{% endblock %}