:root {
    --primary-color: #111111;
    --secondary-color: #6558C3;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
}

.menu {
    background-color: var(--primary-color);
    height: 80px;
}

.menu nav a img {
    margin: 27px 0 0 230px;
}


/* === FORM ===*/

form {
    margin: 55px 230px;
}

form .head h2 {
    font-size: 24px;
    line-height: 28px;
}

form .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.head button[type="submit"],
.main_recipe .title button[type="button"],
#form-delete button[type="submit"] {
    background-color: var(--secondary-color);
    border-radius: 4px;
    padding: 9px 20px;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
}

.content .item {
    margin-bottom: 30px;
}

.content .item p {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content .item input {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 45px;
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    padding: 4px;
    margin-bottom: 10px;
}

.content .item button[type="button"] {
    margin-top: 5px;
    background-color: #fff;
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
}

.content .item textarea {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 250px;
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    padding: 4px;
    resize: none;
}


/* === SHOW ===*/

.main_recipe {
    margin: 55px 230px;
}

.main_recipe .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.main_recipe img {
    width: 940px;
    height: 280px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.main_recipe h1 {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 4px;
}

.main_recipe #author {
    font-size: 20px;
    color: #777777;
    line-height: 24px;
    text-align: center;
    margin-bottom: 31px;
}

.recipe_content h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 19px;
}

.recipe_content ul {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    max-width: 940px;
    text-align: justify;
    margin-bottom: 41px;
}

.recipe_content p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    max-width: 940px;
    text-align: justify;
    white-space: pre-wrap;
}


/* === TOGGLE === */

.toggle_content {
    display: flex;
    align-items: center;
    position: relative;
}

.toggle_content a {
    font-size: 12px;
    color: #999999;
    margin-left: 8px;
    margin-bottom: 19px;
    cursor: pointer;
}

.toggle {
    overflow: hidden;
    max-height: 500px;
    transition: max-height 1s ease-in-out;
}

.toggle.hide {
    max-height: 0;
    pointer-events: none;
}


/* === EDIT ===*/

#form-delete button[type="submit"] {
    background-color: #DC4747;
}